*
{
   /* outline: 1px solid red;*/
  
}
form
{
	margin-top: 10px;
}
label,#titu
{
	color: white;
}
.inlinelabel
{
	display: inline;
}
.salida,.retorno,.motivo,.compensacion
{
	margin-bottom: 20px;
	display: inline;
	
}
#enviar
{
	margin:0 auto;
}
#fechaSalida,#fechaRetorno
{
	width: 50%;
	margin-bottom: 5px;
}
#enviar
{
	margin-top: 20px;
	border: none;
	color: black;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}
#horaSalida,#horaRetorno
{
	width: 20%;
}
#userform
{
	background-color: #666D6C;
	padding: 20px;
	border-radius: 10px;
}