/****/
header p {
    font-size: 12px;
        margin: 0 13px;
}
header a {
    text-decoration: none;
}
.user-photo {
    margin:0 15px;
    width: 100%;
}

.user-photo img {
    border-radius: 100%;    
    width:70px;
    height:70px;
}

.img-logo {
    width:20%;
}


.navbar-logo {
   margin-top: 10px;
}

.navbar-header {
   margin-top: 10px;
}
.navbar-collapse {
    position: absolute;
    top:30px;
    right: 40px;
    padding-left: 95px;
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: relative;
        padding-bottom: 15px;
        margin-top: -15px;
    }
    
    .user-photo img {
        border-radius: 100%;    
        width:45px;
        height:45px;
        margin-right:-10px;
    }
    
    .img-logo {
    width:33%;
    }
    
    header p {
    font-size: 10px;
    margin: 0 10px;
    }

}

/***/

/****ESTILOS DEL FRMULARIO***/
form
{
	margin-top: 10px;
}
label,#titu
{
	color: white;
}
.inlinelabel
{
	display: inline;
}
.salida,.retorno,.motivo,.compensacion
{
	margin-bottom: 20px;
	display: inline;	
}
#fechaSalida,#fechaRetorno
{
	width: 50%;
	margin-bottom: 5px;
}
#enviar
{
	margin-top: 20px;
	border: none;
	color: black;
	border-radius: 5px;
	width: 80px;
	height: 30px;
}
#horaSalida,#horaRetorno
{
	width: 20%;
}
#userform
{
	background-color: #666D6C;
	padding: 20px;
	border-radius: 10px;
}
/****FIN ESTILOS DEL FRMULARIO***/